data/raw_midi/
data/music_char_nanogpt/
data/processed/
data/tokenised/
data/splits/

data/logs/*.pt
data/logs/*.pth
data/logs/**/*.pt
data/logs/**/*.pth

nanoGPT/output*/
nanoGPT/*output*/
*/output*/
*/checkpoints*/

*.pt
*.pth
*.bin

*.npy
*.npz
*.log
*.out
*.err

__pycache__/
*.pyc
.DS_Store

*.mid
*.midi
*.abc
