# Ignore raw + processed MIDI/ABC data
data/raw_midi/
data/raw_midis/
data/processed/midis_text/
data/processed/midi_text/
data/processed/midi_txt/
data/processed/midi_abc/
data/processed/midi_abc_clean/

# Ignore any other large outputs
*.mid
*.abc
*.txt
*.npz
*.pt
*.pkl
*.log
*.out
*.err

__pycache__/
*.pyc
